<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script>https://unpkg.com/vue/dist/vue.js</script>
https://unpkg.com/vuetify@0.16.6/dist/vuetify.min.js
</head>
<body>
    <div id="app">
    <v-app id="inspire">
    <v-layout row wrap>


        <v-flex xs11 sm5>
            <v-menu lazy :close-on-content-click="false" v-model="menu" transition="scale-transition"
            offset-y full-width :nudge-right="40" max-width="290px" min-width="290px"
            >
            <v-text-field slot="activator" label="Picker in menu" v-model="date" prepend-icon="event" 
            readonly></v-text-field>

            <v-date-picker v-model="date" no-title scrollable actions>
                <template scope="{ save, cancel }">
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                    <v-btn flat color="primary" @click="save">OK</v-btn>
                </v-card-actions>
                </template>
            </v-date-picker>
            </v-menu>
        </v-flex>


    </v-layout>
</v-app>
</div>

<script>
    new Vue({
        el: '#app',
        data: () => ({
            date: null,
            menu: false,
            modal: false
        })
})
</script>
</body>
</html>

