<!--    Nome: Michelle Wingter da Silva
        nUSP: 10783243
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <title>Vue.js Form</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="libs/vuelidate.min.js"></script>
    <script src="libs/validators.min.js"></script>

    <style>
      .error-message{
        color: red;
        font-size: small;
      }
    </style>
  </head>
	<body>
		<div id="app" class="container-fluid">
      <h1>Vue.js Form</h1>
        
        <div class="form-container" >
          <form @submit.prevent="submeterForm" class="form-row" >
            <div class="form-group col-6">
              <input v-model="form.nome" type="text" class="form-control" placeholder="Primeiro Nome">
              <p v-if="$v.form.nome.$invalid" class="error-message">Preencha o campo 'Primeiro Nome'.</p>
            </div>
            <div class="form-group col-6">
              <input v-model="form.sobr" type="text" class="form-control" placeholder="Sobrenome">
              <p v-if="$v.form.sobr.$invalid" class="error-message">Preencha o campo 'Sobrenome'.</p>
            </div>
            <div class="form-group col-12">
              <input v-model="form.nasc" type="text" onfocus="(this.type='date')" class="form-control"  placeholder="Data de Nascmento" >
              <p v-if="$v.form.nasc.$invalid" class="error-message">Preencha o campo 'Data de Nascimento'.</p>
            </div>

            <div class="form-group col-md-6">
              <input v-model="form.cid" type="text" class="form-control" placeholder="Cidade">
              <p v-if="$v.form.cid.$invalid" class="error-message">Preencha o campo 'Cidade'.</p>
            </div>
            <div class="form-group col-md-4">
              <select v-model="form.signo" id="state" class="form-control">
                <option selected disabled>Signo</option>
                <option>Áries</option>
                <option>Leão</option>
                <option>Touro</option>
                <option>Gêmeos</option>
                <option>Câncer</option>
                <option>Virgem</option>
                <option>Libra</option>
                <option>Escorpião</option>
                <option>Sagitário</option>
                <option>Capricórnio</option>
                <option>Aquário</option>
                <option>Peixes</option>
              </select>
              <p v-if="$v.form.signo.$invalid" class="error-message">Selecione um Signo.</p>
            </div>
            <div class="form-group col-12">
            </div>
            <button type="submit" class="btn btn-primary" :disabled="$v.form.$invalid">Enviar</button>
          </form>
      </div>

      <script>
        
          Vue.use(vuelidate.default)

          new Vue({
              el: '#app', //elemento principal do vue  

              data() {
                  return {
                      form: {
                          nome: null,
                          sobr: null,
                          nasc: null,
                          cid: null,
                          signo: "Signo"
                      }      
                  }            
              },

              validations: {
                  form:{
                      nome: {
                          required: validators.required
                      },
                      sobr: {
                          required: validators.required
                      },
                      nasc: {
                          required: validators.required,
                          maxValue: value => value < new Date().toISOString(),
                          minValue: value => value > "1910-01-01",                        
                      },
                      cid: {
                          required: validators.required
                      },
                      signo: {
                          required: validators.required,
                          selected(val) {
                              return this.form.signo === "Signo" ? false : val;
    }  
                      },
                  }
              },

              methods: {
                  submeterForm(){
                      console.log("submetendo form")
                      if(!this.$v.form.$invalid){
                          console.log('Form submetido', this.form);
                      }          
                      else{
                          console.log('Form Invalido!')
                      }
                  },

                  mascara_data(campo, valor){
                      console.log("mascarando data")
                      var mydata = '';
                      mydata = mydata + valor;
                      if (mydata.length == 2){
                        mydata = mydata + '/';
                        campo.value = mydata;
                      }
                      if (mydata.length == 5){
                        mydata = mydata + '/';
                        campo.value = mydata;
                      }
                  },
              },

                        
          })
      </script>
	</body>
</html>